@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}
a img {
  width: 74px;
  height: 41px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  background-color: #f8f8f8;
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  margin-left: 5rem;
}
.nav-item.active {
  color: #482ff7;
}
.nav-link {
  font-size: 1.6rem;
  font-weight: 400;
  color: #475569;
}

.nav-link:hover {
  color: #482ff7;
}

.nav-logo {
  font-size: 2.1rem;
  font-weight: 500;
  color: #482ff7;
}
.gallery {
  width: 100%;
}

.gallery-container {
  align-items: center;
  display: flex;
  height: 400px;
  margin: 0 auto;
  max-width: 1000px;
  position: relative;
  z-index: -1;
}

.gallery-item {
  height: 150px;
  opacity: 0;
  position: absolute;
  transition: all 0.3s ease-in-out;
  width: 150px;
  z-index: 0;
}

.gallery-item-1 {
  left: 15%;
  opacity: 0.4;
  transform: translateX(-50%);
}

.gallery-item-2,
.gallery-item-4 {
  height: 200px;
  opacity: 1;
  width: 200px;
  z-index: 1;
}

.gallery-item-2 {
  left: 30%;
  transform: translateX(-50%);
}

.gallery-item-3 {
  box-shadow: 0 0 30px rgba(255, 255, 255, 0.6),
    0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25),
    0 0 100px rgba(255, 255, 255, 0.1);
  height: 300px;
  opacity: 1;
  left: 50%;
  transform: translateX(-50%);
  width: 300px;
  z-index: 2;
}

.gallery-item-4 {
  left: 70%;
  transform: translateX(-50%);
}

.gallery-item-5 {
  left: 85%;
  opacity: 0.4;
  transform: translateX(-50%);
}

.gallery-controls {
  display: flex;
  justify-content: center;
  margin: 30px 0;
  margin-top: -190px;
}

.gallery-controls button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  font-size: 16px;
  margin: 0 20px;
  padding: 0 12px;
  text-transform: capitalize;
}

.gallery-controls button:focus {
  outline: none;
}

.gallery-controls-previous {
  position: relative;
  right: 480px;
}

.gallery-controls-previous::before {
  border: solid #000;
  border-width: 0 2px 2px 0;
  content: "";
  display: inline-block;
  height: 4px;
  left: -10px;
  padding: 8px;
  position: absolute;
  top: -40px;
  transform: rotate(135deg) translateY(-50%);
  transition: left 0.15s ease-in-out;
  width: 4px;
}

.gallery-controls-previous:hover::before {
  left: -18px;
}

.gallery-controls-next {
  position: relative;
  left: 480px;
}

.gallery-controls-next::before {
  border: solid #000;
  border-width: 0 2px 2px 0;
  content: "";
  display: inline-block;
  height: 4px;
  padding: 8px;
  position: absolute;
  right: -10px;
  top: -20px;
  transform: rotate(-45deg) translateY(-50%);
  transition: right 0.15s ease-in-out;
  width: 4px;
}

.gallery-controls-next:hover::before {
  right: -18px;
}

.gallery-nav {
  bottom: -15px;
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  position: absolute;
  width: 100%;
}

.gallery-nav li {
  background: #ccc;
  border-radius: 50%;
  height: 10px;
  margin: 0 16px;
  width: 10px;
}

.gallery-nav li.gallery-item-selected {
  background: #555;
}
.container {
  padding: 0 100px;
}
h2 {
  font-family: "Poppins", sans-serif;
  position: relative;
  top: 150px;
  font-size: 250%;
}
p {
  font-family: "Poppins", sans-serif;
  position: relative;
  top: 180px;
  font-size: 150%;
}
.container img {
  position: relative;
  top: 250px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.research {
  font-family: "Poppins", sans-serif;
  position: relative;
  top: 250px;
  font-size: 250%;
}
.research-ul {
  font-family: "Poppins", sans-serif;
  position: relative;
  top: 270px;
  font-size: 150%;
  list-style: none;
}

.container ul li::before {
  content: "\2022";
  color: black;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: 1em;
}
.ourteam {
  font-family: "Poppins", sans-serif;
  position: relative;
  top: 300px;
  font-size: 250%;
}
.ourteam-ul {
  position: relative;
  top: 320px;
  font-family: "Poppins", sans-serif;
  font-size: 150%;
  list-style: none;
}
.feedback-h2 {
  top: 350px;
  font-family: "Poppins", sans-serif;
  position: relative;
  font-size: 250%;
}
.feedbacks {
  position: relative;
}
.feedback {
  display: flex;
  height: 350px;
  width: 370px;
  position: absolute;
  overflow: hidden;
  top: 390px;
  background-repeat: no-repeat;
}
.fb1 {
  background-image: url("./images/Group\ 35.svg");
  left: 50px;
}
.fb2 {
  background-image: url("./images/Group\ 35.svg");
  left: 425px;
}
.fb3 {
  background-image: url("./images/Group\ 35.svg");
  left: 800px;
}
.subcont {
  height: 200px;
  top: 700px;
  position: relative;
}

.subcent {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.submit {
  position: relative;
  height: 40.4px;
  /* left: 480px;
  top: 728px; */
  color: white;
  font-size: 15px;
  width: 216px;
  background: #2e3190;
  opacity: 0.85;
  border-radius: 10px;
}
.footer {
  position: relative;
}
.brick1 {
  position: absolute;
  margin: 0;
  height: 400px;
  width: 100%;
  overflow: hidden;
  background-color: #28323c;
  top: 700px;
}
.b1cont {
  position: relative;
}
.title {
  position: absolute;
  width: 283.43px;
  height: 43px;
  left: 50px;
  top: 70.4px;

  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 43px;

  color: #ffffff;
}
.contact {
  position: absolute;
  width: 138px;
  height: 34px;
  left: 969px;
  top: 70.4px;

  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 34px;

  /* identical to box height */

  color: #ffffff;
}
.number {
  position: absolute;
  width: 164px;
  height: 34px;
  left: 1126px;
  top: 70.4px;

  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 34px;

  /* identical to box height */

  color: #ffffff;
}
.register {
  position: absolute;
  height: 53px;
  width: 300px;
  left: 600px;
  top: 252.4px;

  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 35px;
  line-height: 52px;

  /* identical to box height */

  color: #ffffff;
}
.brick2 {
  position: absolute;
  width: 100%;
  height: 74px;
  top: 1030px;
  bottom: -8.6px;
  overflow: hidden;
  background-color: #1c252e;
}
.copyright {
  position: absolute;
  width: 503px;
  height: 24px;
  left: 17px;
  bottom: 24.4px;

  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;

  /* identical to box height */

  color: #ffffff;
}
.developer {
  position: absolute;
  width: 503px;
  height: 24px;
  right: -270px;
  bottom: 24.4px;

  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;

  color: #ffffff;
}
.destro {
  color: #57f5ff;
}
@media only screen and (max-width: 768px) {
  .navbar {
    position: relative;
    max-width: 100%;
  }

  .nav-menu {
    position: fixed;
    left: -100%;
    top: 6rem;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
  }

  .nav-menu.active {
    left: 0;
  }

  .nav-item {
    margin: 2.5rem 0;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    -webkit-transform: translateY(8px) rotate(45deg);
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    -webkit-transform: translateY(-8px) rotate(-45deg);
    transform: translateY(-8px) rotate(-45deg);
  }
  .gallery-controls-next::before {
    border: solid #000;
    border-width: 0 2px 2px 0;
    content: "";
    display: inline-block;
    height: 4px;
    padding: 8px;
    position: relative;
    right: 370px;
    top: -20px;
    transform: rotate(-45deg) translateY(-50%);
    transition: right 0.15s ease-in-out;
    width: 4px;
  }
  .gallery-controls-previous::before {
    border: solid #000;
    border-width: 0 2px 2px 0;
    content: "";
    display: inline-block;
    height: 4px;
    left: 380px;
    padding: 8px;
    position: absolute;
    top: -40px;
    transform: rotate(135deg) translateY(-50%);
    transition: left 0.15s ease-in-out;
    width: 4px;
  }
  .gallery-controls-previous:hover::before {
    left: 380px;
  }
  .gallery-controls-next:hover::before {
    right: 370px;
  }
  .container {
    padding: 0 50px;
  }
  .feedback {
    background-size: 280px;
    width: 290px;
    margin: 0;
    position: absolute;
    top: 570px;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .fb1 {
    /* left: 0px; */
  }
  .fb2 {
    display: none;
  }
  .fb3 {
    display: none;
  }
  .subcont {
    top: 600px;
  }
}
