* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0s linear;
  font-family: Poppins;
  font-style: normal;
}
html {
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden;
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.navbar {
  padding: 10px;
  display: flex;
  position: sticky;
  top: 0;
  background-color: white;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 95px;
}
.logo {
  width: 90px;
  margin-left: 30px;
}
button {
  height: auto;
  margin-right: 10px;
  width: 130px;
  padding: 10px;
  background-color: #504cff;
  border-radius: 10px;
  color: white;
  border: none;
  font-weight: 500;
  font-size: 18px;
}
.btn {
  margin-right: 20px;
}
.content2 {
  width: auto;
  height: calc(100vh - 95px) !important;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 30px;
  margin-left: -20px;
}
.content1 {
  width: auto;
  height: calc(100vh - 95px) !important;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 30px;
  left: 0;
}
h3 {
  font-family: Reem Kufi;
  font-size: 60px;
  font-weight: 500;
  line-height: 64px;
}
h4 {
  font-family: Reem Kufi;
  font-size: 30px;
  font-weight: 500;
  line-height: 34px;
}
p {
  font-size: 22px;
  margin-top: 20px;
}
.cont {
  width: 500px;
  margin-right: 30px;
}

@media (max-width: 1100px) {
  .content1,
  .content2 {
    flex-direction: column;
  }
  .content2 {
    margin-top: 30%;
  }
}
@media (max-width: 500px) {
  button {
    width: 100px;
    font-size: 10px;
  }
  .btn {
    margin-right: 0;
  }
  .logo {
    width: 60px;
    margin-left: 10px;
  }
  .navbar {
    height: 60px;
  }
  h3 {
    font-size: 35px;
    line-height: 40px;
  }
  .content1 {
    padding-top: 100px;
  }
  p {
    font-size: 20px;
  }
  .cont {
    width: 280px;
    margin-right: 10px;
  }
  .svgone {
    width: 280px;
    margin-top: 50px;
  }
}

.container {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  background-color: #f6f1fd;
  color: #5917b5;
  justify-content: center;
  align-items: center;
  /* margin-left: -550px; */
  margin-top: 100px;
  margin-bottom: 20px;
}

.contlr {
  width: 500px;
  margin-right: 30px;
  margin-left: -140px;
  margin-top: -150px;
}

.SupportPara {
  width: auto;
  height: calc(100vh - 95px) !important;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 30px;
  margin-left: 150px;
  margin-top: -100px;
}

.sp2 img {
  margin-left: -170px;
}

.sp2 .contlr {
  margin-left: 250px;
}

.footer {
  position: relative;
  width: 1504px;
  height: 277px;
  left: -41px;
  top: 0px;

  background: #28323c;
}
.brick1 .l1 {
  position: relative;
  width: 230px;
  height: 43px;
  left: 200px;
  top: 100px;
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 43px;

  color: #ffffff;
}

.brick2 {
  position: relative;
  width: 1591px;
  height: 50px;
  left: -18px;
  top: 220px;

  background: #1c252e;
}

.brick1 .r1 {
  position: relative;
  width: 138px;
  height: 34px;
  left: 900px;
  top: 60px;

  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 34px;

  /* identical to box height */

  color: #ffffff;
}
.brick1 .r2 {
  position: relative;
  width: 143px;
  height: 34px;
  left: 905px;
  top: 60px;

  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 34px;

  /* identical to box height */

  color: #ffffff;
}

.brick1 a {
  position: relative;
  width: 147px;
  height: 45px;
  left: 186px;
  top: 200px;

  font-family: Reem Kufi;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 45px;

  /* identical to box height */

  color: #ffffff;
}

.brick2 .l1 {
  position: relative;
  width: 824px;
  height: 24px;
  left: 156px;
  top: 10px;

  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;

  /* identical to box height */

  color: #ffffff;
}

.brick2 .r1 {
  position: relative;
  width: 388px;
  height: 34px;
  left: 934px;
  top: 10px;

  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 34px;
  color: #ffffff;
}
